{% extends "layout.html" %}

{% block title %}Удаление{% endblock title %}

{% block body %}
<div class="col-md-4 col-md-offset-4">
    <form role="form" method="post" action="">
        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
        <p>Вы уверены что хотите удалить {{ obj }}?</p>
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a href="{{ redirect_to or '/' }}" class="btn btn-primary pull-right">Отмена</a>
    </form>
</div>
{% endblock body %}
